* { margin: 0; padding: 0; }
		
			
			h1 { font-family: Georgia; font-style: italic; margin-bottom: 10px; }
			
			h2 {
				font-family: Georgia;
				font-style: italic;
				margin: 25px 0 5px 0;
			}
			
			p { font-size: 1.2em; }
			
			ul li { display: inline; }
			
			.wide {
				border-bottom: 1px #000 solid;
				width: 4000px;
			}
			
			.fleft { float: left; margin: 0 20px 0 0; }
			
			.cboth { clear: both; }
			
			#main {
				background: #fff;
				margin: 0 auto;
				padding: 30px;
				width: 1000px;
			}
			
body {
	padding-top: 70px;
}

.imgPicture {
    display: inline-block;
    width: 750px;
    height: 350px;
    overflow: hidden;
    border: 5px solid #FFFFFF;
    background: #FFFFFF;
    outline: 1px solid #CCCCCC;
    margin: 10px;
  }
  .imgPicture img {
    width: 750px;
    border: none;
    margin: 0;
    padding: 0;
  }
  .imgPicture3 {
    display: inline-block;
    width: 350px;
    height: 250px;
    overflow: hidden;
    border: 5px solid #FFFFFF;
    background: #FFFFFF;
    outline: 1px solid #CCCCCC;
    margin: 10px;
  }
  .imgPicture3 img {
    width: 350px;
    border: none;
    margin: 0;
    padding: 0;
  }

.navbar{
	min-height: 42px;
}
a{
    color:#008B66;
}  
a:hover,
a:focus{
   color:#005841;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #008B66;
  color:#fff;
}

.navbar-inverse .navbar-brand{
    color:#fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus{
    color:#ECECEC;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color:#ECECEC;
}
.wrap{
	box-shadow:0px 0px 4px #efefef;
	border:1px solid #e0e0e0;
	padding-top:15px;
	background-color:#fefeff;
}
.container{ 
  min-width:1024px;
}
.avatar{
	width: 200px; 
	float:right;
}
.col-sm-9{
	width:75%;
}
.col-sm-3{
	width:25%;
}
.info {
	background: #f5f5f5;
	padding: 8px 15px;
	color: #999;
	margin-bottom: 1em;
	overflow: hidden;
}
.info li {
	display: inline;
	list-style: none;
	float: left;
	margin-right: 15px;
}
.postsProfil{
	width:100%;	
}
.conte{
	border-top:1px solid #f5f5f5;
	padding:6px;
	padding-left:26px;
	margin-top:5px;
}
.panel-heading{
	margin-bottom:5px;
	padding:0px;
}
.forimage img{
	border:1px solid gray;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-content{
	margin-top:20px;
	padding-left:40px;
	padding-right:40px;
}
.righ{
	float:right;
}
p{
	margin-bottom:0px;
}
.newpost{
	width:80%;
	float:left;
}
.profil{
	width:80%;
	float:left;
}
.text{
	text-align:justify;
	font-family:Times new roman;
	font-size:17px;
	margin-left:40px;
	margin-right:40px;
}
.footer {
	border-top: 1px solid #ddd;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 30px;
}
#shadow{
			
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			background-color:black;
			opacity:0.3;
			filter:alpha(opacity=40);
			display:none;
		}
#photo{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			background-image:url('photo/1.jpg');
			background-repeat:no-repeat;
			background-position:center center;
			display:none;
		}
.imge{
	border:1px solid gray;
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	width:110px;
	height:100px;
}
form.upload_image {
    display: none;
}

#post_images {
    overflow: hidden;
}

#post_images div {
    position: relative;
    float: left;
    margin-right: 5px;
}

.post_images {
    overflow: hidden;
}
.post_images div {
    float: left;
    margin-right: 5px;
}

#post_images div:last-of-type {
   /* margin-right: 0; */
}

#post_images span.delete_button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    cursor: pointer;
    display: block;
    padding: 3px;
    position: absolute;
    right: 0;
    top: 0;
}

#post_images span.delete_button span.delete {
    background: url("../img/notifier_close.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    cursor: pointer;
    height: 7px;
    opacity: 0.6;
    width: 7px;
}

#post_images span.delete_button:hover span.delete {
    opacity: 0.8;
}
#createdpost{
    display: none;
}
#createdcomment{
    display: none;
}